* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'M PLUS 1p', sans-serif;
	font-size: 16px;
	background: white;
	color: #000;
}

header {
		width: 90%;
		background: #F8F8F8;
		box-shadow: 2px 4px 6px rgba(194, 192, 192, 0.25);
		padding: 10px 5%;
}

@media (min-width: 1571px) {
	.all-header {
	width: 60%;
	margin: 0 20%;
    }
}

@media (max-width: 1570px) and (min-width: 921px) {
	.all-header {
	width: 100%;
    }
}

@media (max-width: 920px) {
	.all-header {
	width: 90%;
	margin: 0 5%;
	}
	.header-main {flex-direction: column}
	.header-main div,
	.header-main a,
	.header-main input {margin-top: 20px}
}

.header-main {
	display: flex;
	margin-top: 20px;
	justify-content: space-between;
	align-items: center;

    h4 {
        font-size: 25px;
    }

    img {
        height: 50px;
        }

    a {
        color: #000;
        text-decoration: none;
        font-weight: 800;
        transition: all 1.5s ease;
    }

    a:hover {
        color: #ccc;
    }

    .btn {
        width: 86px;
        cursor: pointer;
        height: 40px;
        font-weight: 800;
        border: 2px solid #000;
        text-align: center;
        line-height: 40px;
    }

    .btn.reg {width: 140px}

    .btn.reg, .btn.auth:hover {
        background: #000;
        color: #fff;
    }

    .btn.reg:hover {
        background: #fff;
        color: #000;
    }
}

footer {
	width: 90%;
	background: #000;
	color: #fff;
	text-align: center;
    padding: 5%;
}

//вход на сайт

.auth {
    text-align: center;

    h5 {
        font-size: 20px;
        margin: 20px;
    }

    a > img {
        height: 100px;
    }

    input {
        border: 2px solid #000;
        text-align: center;
        line-height: 40px;
        height: 40px;
        margin: 20px;
        width: 200px;
    }

    button {
        margin: 20px;
        width: 86px;
        cursor: pointer;
        height: 40px;
        font-weight: 800;
        border: 2px solid #000;
        text-align: center;
        line-height: 40px;
        background: #000;
        color: #fff;
    }

    button:hover {
        background: #fff;
        color: #000;
    }
}

//регистрация
.reg {
    text-align: center;

    h5 {
        font-size: 20px;
        margin: 20px;
    }

    .reg_input {
        border: 2px solid #000;
        text-align: center;
        line-height: 40px;
        height: 40px;
        margin: 20px;
        width: 240px;
    }

    .reg_sex {
        width: 40px;
        text-align: center;
    }

    button {
        margin: 20px;
        width: 170px;
        cursor: pointer;
        height: 40px;
        font-weight: 800;
        border: 2px solid #000;
        text-align: center;
        line-height: 40px;
        background: #fff;
        color: #000;
    }

    button:hover {
        background: #000;
        color: #fff;
    }
}

.first_main {
    h3 {
        text-align: center;
        margin: 20px;
        font-size: 21px;
    }

    .first_main_block {
        display: block;

        
        img {
            width: 500px;
            margin: 20px;
            margin-left: 5%;
        }
        
        ul {
            float: right;
            margin: 20px;
            margin-right: 15%;
            li {
                margin: 10px;
                font-size: 20px;
            }
        }
    }
}

//Личный дневник пациента

.helth_container {
    text-align: center;

    .helth_status {
        font-size: 21px;
        color: #cc0000;
        font-style: italic;
        margin: 20px;
    }

    .add_data > button {
        margin: 20px;
        width: 170px;
        cursor: pointer;
        height: 40px;
        font-weight: 800;
        border: 2px solid #000;
        text-align: center;
        line-height: 40px;
        background: #fff;
        color: #000;
    }

    .add_data > button:hover {
        background: #000;
        color: #fff;
    }

    .canvas {
        width: 500px;
        height: 500px;
        border: 1px solid black;
    }

    .helth_table {
        padding: 20px;
        padding-left: 25%;
        table {
            width: 600px;
            border: 1px solid grey;
         }
         th {
            border: 1px solid grey;
         }
         td {
            border: 1px solid grey;
         }
    }
}